In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('BTC 2012-2021.csv')

In [4]:
data

            Date    Price     Open     High      Low     Vol.  Change %
0     2021-12-31  46219.5  47123.3  48553.9  45693.6   58.18K     -1.92
1     2021-12-30  47123.3  46470.7  47901.4  46003.0   60.96K      1.42
2     2021-12-29  46461.7  47548.4  48121.7  46127.8   63.92K     -2.28
3     2021-12-28  47545.2  50703.4  50703.8  47345.7   74.39K     -6.18
4     2021-12-27  50678.2  50783.6  52016.3  50459.0   43.90K     -0.20
...          ...      ...      ...      ...      ...      ...       ...
3648  2012-01-05      6.9      5.6      7.2      5.6  182.33K     24.78
3649  2012-01-04      5.6      4.9      5.7      4.8  131.17K     14.14
3650  2012-01-03      4.9      5.2      5.3      4.7  125.17K     -6.51
3651  2012-01-02      5.2      5.3      5.5      4.8   69.15K     -0.95
3652  2012-01-01      5.3      4.7      5.5      4.6  108.51K     11.65

[3653 rows x 7 columns]

# Regresssion

In [11]:
x = data[['Price']]
y = data['Change %']

In [6]:
from sklearn.linear_model import LinearRegression

In [7]:
lr = LinearRegression()

In [12]:
lr.fit(x,y)

LinearRegression()

In [14]:
lr.predict([[500]])

C:\Users\Ahmed Ali Khan\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([0.45530211])

# Multiple Linear Regression

In [15]:
x_a = data[['Price', 'Change %']]
y_b = data['Open']

In [18]:
lr.fit(x_a, y_b)

LinearRegression()

In [19]:
lr.predict([[1000, 1800]])

C:\Users\Ahmed Ali Khan\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([-43984.4579151])

# In a Jupyter environment, please rerun this cell to show the HTML representation or trust the notebook.

# On GitHub, the HTML representation is unable to render, please try loading this page with nbviewer.org.